<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="ui main text container segment" id="container">

        <div class="ui huge header">
            Movie Search App
        </div>

        <form class="ui huge form" action="/results">
            <div class="field">
                <label>Movie Name</label>
                <div class="ui icon input">
                    <input type="text" name="movieName" placeholder="Insert the movie name..." autocomplete="off" autofocus>
                    <i class="search icon"></i>
                </div>     
            </div>
            <button class="ui black basic button">Search</button>
        </form>

    </div>
    
</body>
</html>